.navbar {
  width: 1300px;
  height: 56px;
  justify-content: space-between;
  opacity: 1;
  top: 32px;
  left: 45px;
  color: aqua;
  display: flex;
  
}
.center_link {
  width: 411px;
  height: 33px;
  gap: 40px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  height: 15px;
  color: black;
}
.logo_name {
  width: 100px;
  height: 31px;
  opacity: 1;

}

.contact {
  font-family: "Inter";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}
.logo {
  width: 27.125001907348633px;
height: 27.125px;
top: 1.29px;
left: 2.58px;
opacity: 1;


}
.company_name {
  font-family: "Inter";
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 56px;
  height: 22px;
  top: 16.5px;
  left: 44px;
  opacity: 1;
  /* padding-right: 10px; */
}
.center_link,a{
  text-decoration: none;
  color: black;
 }
 li{
  list-style: none;
 }